.mode {
  // Font settings
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  
  // Changes button height
  padding: 0.8rem 1rem;
  border-radius: 9999px;

  border: none; // No button border
  cursor: pointer; // Hand when hovering
  color: white; // Text is white
  background: #ff922f; // Break background color
  transition: all 0.25s ease;

  // Keeps the width constant 
  // switching between Work and Break
  min-width: 5.3rem;
  
  &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 14px #ff922f66;
  }

  &:active {
    transform: scale(0.98);
  }

  &.break-mode {

    // C - Color
    // O - Opacity
    // #CCCCCCOO
    background: #625780;
    
    // Shadow while only break mode
    &:hover {
      box-shadow: 0 6px 14px #62578066;
    }
  }

  // If in pause mode no matter break or not
  &.pause-mode {
    background: #BBBBBB;
    
    &:hover {
      box-shadow: 0 6px 14px #bbbbbb7a;
    }
  }
}