@use '../colors' as *;

.backButton {
    display: inline-block;
    // margin-top: 20px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    color: white;
    background: var(--orange);
    transition: all 0.25s ease;
    
    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 14px $shadow6-orange;
    }

    &:active {
        transform: scale(0.98);
    }

    &.break-mode {
        background :$purple;
        box-shadow: 0 4px 12px $shadow6-gray;

        &:hover {
        box-shadow: 0 6px 14px $shadow6-gray;
        }
    }
}