@use 'colors' as *;

.header {
    display: flex;
    /* place left and right groups on opposite sides */
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    // padding-left: 10px;
    // padding-right: 10px;
}

.left-header{
    padding-left: 5px;
    align-items: center;
    justify-content: left;
    display: flex;
}

.right-header{
    padding-right: 5px;
    align-items: center;
    justify-content: right;
    display: flex;
}


.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

:host {


    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
        180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
        90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.125rem;
    padding-bottom:7px;
    padding-left:10px;
    padding-right:10px;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

p {
    margin: 0;
    color: var(--gray-700);
}

main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
}

.angular-logo {
    max-width: 9.2rem;
}

.content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    // margin-bottom: 3rem;
}

.content h1 {
    margin-top: 1.75rem;
    padding-bottom:7px;
    padding-left:10px;
}

.content p {
    margin-top: 1.5rem;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
}

.social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
}

.social-links a:hover svg path {
    fill: var(--gray-900);
}

@media screen and (max-width: 650px) {
    .content {
        flex-direction: column;
        width: max-content;
    }

    // .divider {
    //     height: 1px;
    //     width: 100%;
    //     background: var(--red-to-pink-to-purple-horizontal-gradient);
    //     margin-block: 1.5rem;
    // }
}