@use '../colors' as *;

.circle-padding {
  position: relative;  // <-- this is crucial
  justify-content: center;
  align-items: center;

  width: 256px;        // or whatever your SVG size is
  height: 256px;
}
