@use '../colors' as *;

.pauseButton {
  /* smaller left padding when NOT in pause mode */
  padding: 0.8rem 1.1rem 0.8rem 1.3rem;
  margin-left: 6px;
  margin-right: 6px;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  color: $text-white;
  transition: all 0.25s ease;

  background: $orange;
  
  &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 14px $shadow6-orange;
  }

  &:active {
    transform: scale(0.98);
  }

  &.pause-mode {
    /* larger left padding when in pause mode */
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;

    background: $pause;

    &:hover {
      box-shadow: 0 6px 14px $shadow6-gray;
    }
  }

  // Makes buttons smaller and centered
  img {
    width: 18px;
    height: 20px;
    vertical-align: middle;
  }
}